

.form-control {
    background-color: white;
}

.d-flex {
    color: black;
}

form .btn-outline-success {
    --bs-btn-color: rgb(255, 255, 255);
    --bs-btn-border-color: #f4f9f7;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #ffffff;
    --bs-btn-hover-border-color: #ffffff;
}

main .btn-primary {
    max-block-size: fit-content;
}

.list-btn {
    height: 30px;
    width: 30px;
}

.fa-solid {
    text-align: start;
 }

 .fa-pencil:hover {
    color: #0004ff;
}

.fa-trash:hover {
    color: #ff0000;
}   

.todo {
    max-height: calc(100% / 2);
}