

.form-control {
    background-color: white;
}

.d-flex {
    color: black;
}

.btn-outline-success {
    --bs-btn-color: rgb(255, 255, 255);
    --bs-btn-border-color: #f4f9f7;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #ffffff;
    --bs-btn-hover-border-color: #ffffff;
}